<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
	<%- include('partials/head', {title: 'Log IN'}) %>
<body>
<!-- Header -->
<%- include('partials/headerNavbar') %>
<!-- /Header -->

<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
				<h2 class="products-title">Log In</h2>
		</div>
	</div>
	<div class="col-12">
			<h1>LOGIN EXITOSO</h1>
	</div>

</div>
<!-- /todos los productos -->

<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->
</body>
</html>