<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
	<%- include('partials/head', {title: 'Registro'}) %>

<body>
<!-- Header -->
<%- include('partials/headerNavbar') %>
<!-- /Header -->

<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
				<h2 class="products-title">Crear un nuevo usuario</h2>
		</div>
	</div>
	<div class="col-12">
			<form action="/users/register" method="POST">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre Completo:</label>
						<input type="text" id="name" name="name" placeholder="Juan Perez" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="email" class="form-label">email:</label>
						<input type="email" id="email" name="email"  placeholder="35" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="age" class="form-label">Edad:</label>
						<input type="number" id="age" name="age"  placeholder="35" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="password" class="form-label">Contraseña:</label>
						<input type="password" id="password" name="password" placeholder="Contraseña" class="form-input">
					</div>
					<div class="col-12">
							<button type="submit" class="buy-now-button">Registarse</button>
					</div>
				</div>
			</form>
	</div>

</div>
<!-- /todos los productos -->

<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->
</body>
</html>